#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "BeDevIn"
      VALUE "FileDescription", "Math4BG"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "my_app"
      VALUE "LegalCopyright", "Benjamin Wirtz"
      VALUE "OriginalFilename", "math4bg.exe"
      VALUE "ProductName", "Math4BG"
      VALUE "ProductVersion", "1.0"
      VALUE "Comments", "Provided for free by Benjamin Wirtz"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END

END
  
IDI_ICON ICON "math4bg.ico"